.header-container {
  display: flex;
  justify-content: right;
  padding: 1rem;
  align-items: center;
  margin: 1rem;
}

.border {
  border: 1px solid #4141411e;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.bloco-container {
  display: flex;
  gap: 18rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-left: 10rem;
}

.logo {
  background-color: #111;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 10px solid #4d4c4ca4;
}

.title-logo {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.title-logo h1 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.title-logo p {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.link-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  width: 100%;
  margin-right: 5rem;
}

.title-link p {
  white-space: nowrap;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.link-content {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: center;
  gap: 2rem;
}

.redes-sociais img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.redes-sociais img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.border-footer {
  margin-top: 6rem;
  border-top: 1px solid #4141411e;
  width: 100%;
}

.border-footer2 {
  border-top: 1px solid #41414110;
  width: 100%;
}

.dono {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 0.9rem;
  gap: 1rem;
}

.dono a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(82, 6, 82);
}

.dono a:hover {
  cursor: pointer;
  color: rgba(82, 6, 82, 0.473);
}

.rail {
  width: 4rem;
  height: 1.7rem;
  background-color: #383737;
  border-radius: 1rem;
  position: relative;
  border: 3px solid rgb(117, 21, 146);
  cursor: pointer;
}

.indicator {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: rgb(200, 203, 206);
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 450ms;
}

.rail.dark {
  background-color: #ececec;
}

.rail.dark .indicator {
  left: 2.2rem;
  background-color: #0c0c0c;
}

body.dark {
  background: #131212;
  color: #fff;
}

.dono.dark a {
  color: rgb(255, 28, 255);
  text-decoration: none;
}

.dono.dark a:hover {
  color: rgba(255, 28, 255, 0.514);
}

.logo.dark {
  border: 10px solid #202020;
}
